body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.homePageContainer {
    max-width: 1200px;
}

.navBar {
    display: flex;
    font-size: 23px;
    justify-content: space-between;
    width: 500px;
}

.navBar > a {
    text-decoration: none;
    color: black;
}

.homePageTopNav {
    display: flex;
    background-color: rgb(238, 155, 61);
    justify-content: space-between;
    align-items: center;
    padding: 8px 90px 5px 60px;
}

.topImageContainer {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-top: 3px;
}

.topImageText {
    position: absolute;
    z-index: 10;
    top: 375px;
    left: 348px;
    background-color: white;
    font-size: 31px;
    font-weight: bold;
    padding: 10px 20px;
}

.everydayCategories {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 90px;
    margin-bottom: 32px;
}

.everydayCategoriesText {
    display: flex;
    flex-direction: column;
}

.everydayCategoriesText > h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 31px;
}

.everydayCategoriesText > p {
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 24px;
}

.everydayCategoriesImgs {
    display: flex;    
    justify-content: space-between;
    margin-bottom: 70px;
}

.everydayCategoriesItemContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
}

.imgWrapper {
    height: 80%;
}

.everydayCategoriesImg {
    width: 330px;
    height: 100%;
    object-fit: cover;
}

.everydayCataText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    width: 330px;
    margin-top: 20px;
}

.healthyRecipes {
    background-color: rgb(213, 218, 230);
    padding: 20px 60px 50px 60px;
}

.healthyRecipesText > h1 {
    margin-bottom: 18px;
}

.healthyRecipesText > p {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.healthyRecipesImgContainer {
    display: flex;
    justify-content: space-between;
}

.healthyRecipesItemContainer {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.healthyRecipesImg {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.healthyText {
    background-color: white;
    font-weight: bold;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whereToEat {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px; 
}

.whereToEatText > p {
    font-size: 22px;
}

.whereToEatContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 108px;
}

.wteImgContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 8px solid rgb(213, 218, 230);
}

.wteText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.wteFoodImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homePageFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 155, 61);
    padding: 50px 100px;
    font-size: 18px;
}

.siteNavBottom {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.siteNavBottom > a {
    text-decoration: none;
    color: black;
}

a:active {
    color: white;
}